.main-color{color: rgb(30, 30, 92);}
.main-bg-color{background: rgba(30, 30, 92, 0.801);}
html,
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
    margin: 0;
    padding: 0;
    /* color: #000; */
}

header{
    background: rgb(30, 30, 92);
    color: #fff !important;
}
.nav-link a.active {color: #fff;}
.dropdown-menu {
    background: rgba(30, 30, 92, 0.801);
}

/* CAROUSEL */
.carousel-caption{
    margin-bottom: 15rem;
}

/* FOOTER */
footer {
    background: rgb(30, 30, 92);
    color: #fff;
    padding: 0.5rem;
    text-align: center;
}
/* Contributors Note start */
.contribors_note {
    color: gold;
    background: rgb(30, 30, 92);
    font-size: 70%;
    position: absolute;
    top: 30%;
    left: 20%;
    max-width: 40rem;
}
/* Contributors Note ends here */
section {
    margin: 1.5rem 0;
}